<img src="/assets/img/sunny.png" alt="sun icon">

  <h1>{{place.name}}</h1>
  <!-- TODO we need a helper to display the temperature correctly (not kelvin). It would be fun to set the color of the text to reflect the temperature (colder is bluer, warmer is redder) -->
  <h2>{{ temp-convert place.temp}}</h2>
  <p>{{place.description}}</p>
  <h2>{{place.temp}}</h2>



<!-- TODO below needs separate component for modal information with dynamic linking -->

<div id="openModal" class="modalDialog">
    <div>	<a href="#close" title="Close" class="close">X</a>

      <h1>{{place.name}}</h1>
      <h2>{{place.temp}}</h2>
      <p>{{place.description}}</p>

      <p>{{location-tile place=place}}</p>
    </div>
</div>
