<img src="/assets/img/sunny.png" alt="sun icon">

  <h1>{{place.name}}</h1>

  <h2>{{ temp-convert place.temp}}</h2>
  <p>{{place.description}}</p>
  <h2>{{place.temp}}</h2>

  {{hike-modal place=place index=index}}
