<img src="/assets/img/sunny.png" alt="sun icon">

  <h1>{{place.name}}</h1>
  <h2>{{place.temp}}</h2>

<!-- TODO below needs separate component for modal information with dynamic linking -->

<div id="openModal" class="modalDialog">
    <div>	<a href="#close" title="Close" class="close">X</a>

      <h1>{{place.name}}</h1>
      <h2>{{place.temp}}</h2>
      <p>{{place.description}}</p>
    </div>
</div>
